<div id="categories">
    <h3>Categories</h3>
    <ul>
        <li ng-repeat="category in categories" ng-click="get(category.id)">
            {{category.username}}                                
            <button ng-click="get(category.id)">Edit</button>
            <button ng-click="deleteCategory(category.id)">Delete</button>
        </li>
</div>
<div ng-show="editPart">                               
    <form class="form-signin">
        <h2 class="form-signin-heading">Edit Category with #id = {{category.id}}</h2>
        <input type="hidden" ng-model="category.id">
        <label for="title">Title</label>
        <input type="text" ng-model="category.title" id="title" class="form-control" placeholder="Title" required="" autofocus="">
        
        <label for="text">Text</label>                                                                    
        <textarea ng-model="category.text" id="text" placeholder="Text" class="form-control" rows="4"></textarea> 
        
        <label for="inputCategory">Choose category</label>
        <select id="inputCategory" ng-options="category.id as category.name for category in categories" ng-model="category.categoryId" class="form-control">  
        </select>
        
        <label for="inputTown">Choose town</label>
        <select id="inputTown" ng-options="town.id as town.name for town in towns" ng-model="category.townId" class="form-control">  
        </select>
        
        <button ng-click="edit(category)" class="btn btn-lg btn-primary btn-block" type="submit">Publish</button>
    </form>
</div>