<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Login Field</legend>
                                                          
            <div class="form-group">
              <label class="col-md-3 control-label" for="username">Username</label>
              <div class="col-md-9">
                <input type="text" ng-model="user.username" id="username" placeholder="Password" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control">
              </div>
            </div>      
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">                                     
                <button ng-click="login(user)" class="btn btn-primary btn-lg" type="submit">Login</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
    </div>
</div>      